{% extends 'administrator/base.html' %} {% block title %} <title>Course</title> {% endblock %} {% block body %}

<section
  class="parallax paralbackground"
  style="background-image: url({{images}}/1.jpg); background-attachment: fixed"
  data-img-width="600"
  data-img-height="385"
  data-diff="100"
>
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Course Detail</h4>
      <hr />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12">
      <div class="col-sm-12">
        <button id="add_cors_popup_btn" class="btn btn-sm btn-danger float-right" name="Add course">Add course</button>
      </div>
      <div id="cors_list"></div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(document).ready(function (e) {
    class course extends form_handler {
      constructor(url, id, modal_id) {
        super()
        this.url = url
        this.id = id
        this.modal_id = modal_id
        this.form_field = {
          'select#course_category': [
            'Category*',
            {
              'Diploma Courses': 'Diploma',
              'Tution Courses': 'Tution',
              'Distance Courses': 'Distance',
              'Regular Courses': 'Regular'
            }
          ],
          'text#course_name': ['Name*'],
          'text#course_full_form': ['Full form*'],
          'text#course_duration': ['Duration*'],
          'textarea#course_detail': ['Detail', { attr: "rows='1'" }],
          'number#course_package': ['Package (INR)*'],
          row: 4
        }
      }

      // Function define to create the list of student
      std_data = async () => {
        let tbl_conf = {
          columnDefs: [
            {
              targets: [0],
              visible: false,
              searchable: false
            }
          ]
        }

        // create_tbl(url, init element id, table configuration, options)
        await this.create_tbl(this.url, 'cors_list', tbl_conf, { Edit: [-3, this.url], View: [-2, this.url], Delete: [-1, this.url] })
      }

      // Function defin to call modal
      add_edit_modal = async header => {
        let cors_form = await this.create_form(this.form_field)
        await this.init_modal(header, cors_form)
      }
    }

    let cors = new course('api/course-api', 'course', 'cims_modal')

    // Call function for first time
    cors.std_data()

    $('#add_cors_popup_btn').on('click', async e => {
      cors.value = false
      await cors.add_edit_modal('Register course')
    })
  })
</script>

{% endblock %}
