{% extends 'administrator/base.html' %} {% block title %} <title>Course</title> {% endblock %} {% block body %}

<section
  class="parallax paralbackground"
  style="background-image: url({{images}}/1.jpg); background-attachment: fixed"
  data-img-width="600"
  data-img-height="385"
  data-diff="100"
>
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Course Detail</h4>
      <hr />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12">
      <div style="text-align: center">
        <h3 style="color: #e74e3e">Course Detail</h3>
        <hr style="width: 25%" />
      </div>
      <div id="cors_form"></div>
      <!-- <div class="col-md-4">
        <label>Course Category</label>
        <select class="form-control" style="margin-top: 10px">
          <option>Select</option>
          <option>Diploma Courses</option>
          <option>Tution Courses</option>
          <option>Distance Courses</option>
          <option>Regular Courses</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Course Name</label>
        <input type="text" class="form-control"></input>
      </div>
      <div class="col-md-4">
        <label>Full-form</label>
        <input type="text" class="form-control"></input>
      </div>
      <div class="col-md-4">
        <label>Course Duration</label>
        <input type="text" class="form-control"></input>
      </div>
      <div class="col-md-4">
        <label>Course Detail</label>
        <textarea class="form-control" rows="1"> </textarea>
      </div>
      <div class="col-md-4">
        <label>Course Package</label>
        <input type="number" class="form-control"></input>
      </div>
      <div class="col-md-4">
        <br />
        <button class="btn btn-danger"> Submit </button>
      </div> -->
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(document).ready(function (e) {
    let [course_form, id] = [
      {
        'select#cors_cat': [
          'Category*',
          {
            'Diploma Courses': 'Diploma Courses',
            'Tution Courses': 'Tution Courses',
            'Distance Courses': 'Distance Courses',
            'Regular Courses': 'Regular Courses'
          }
        ],
        'text#cors_name': ['Name*'],
        'text#cors_full': ['Full form*'],
        'text#cors_dur': ['Duration*'],
        'textarea#cors_detail': ['Detail', { attr: "rows='1'" }],
        'number#cors_pack': ['Package (INR)*'],
        row: 4
      },
      'course_form'
    ]

    $('#cors_form').html(create_form(course_form, id, '{% csrf_token %}'))

    $('#' + id).on('submit', async e => {
      e.preventDefault()

      let form_data = new FormData(document.getElementById(id))

      let response = await get_post('api/course-api', form_data, true)

      if (response.status == 201) {
        $('#cors_form').html(create_form(course_form, id, '{% csrf_token %}'))
      }
    })
  })
</script>

{% endblock %}
