{% extends 'administrator/base.html' %} {% block title %} <title>Exam</title> {% endblock %} {% block body %}

<section class="parallax paralbackground"
  style="background-image: url({{images}}/certificate.png); background-attachment: fixed" data-img-width="600"
  data-img-height="385" data-diff="100">
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Marks Detail</h4>
      <hr />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12">
      <div class="col-sm-12">
        <button id="add_marks_popup_btn" class="btn btn-sm btn-danger float-right">Add marks</button>
      </div>
      <div id="marks_list"></div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(document).ready(function (e) {
    class exam extends form_handler {
      constructor(url, id, modal_id) {
        super()
        this.url = url
        this.id = id
        this.modal_id = modal_id
        this.exam_form = {
          'select#name': ['Student*'],
          'text#father': ["Father's name#"],
          'text#course': ['Course#'],
          'text#admission_session': ['Admission session#'],
          'text#registration_number': ['Registration number#'],
          'text#enroll_number': ['Enroll number#'],
          'select#exam_year': ['Exam year*', { 2018: 2018, 2019: 2019, 2020: 2020, 2021: 2021, 2022: 2022, 2023: 2023, 2024: 2024, 2025: 2025 }],
          'select#exam_month': ['Exam month*', { March: 'March', June: 'June', September: 'September', December: 'December' }],
          row: 6
        }
      }
      // Function define to create the list of exam
      exam_data = async () => {
        let tbl_conf = {
          columnDefs: [
            {
              targets: [0, 5],
              visible: false,
              searchable: false
            },
            {
              targets: [-1],
              width: 100,
              searchable: false
            }
          ],
          order: [[ 4, "asc" ]],
          fnRowCallback: function (nRow, aData, iDisplayIndex) {
            $('td:eq(-1)', nRow).html(`
              <span style='margin-left: 7px; margin-right: 7px; position: relative; z-index: 0; padding-right: 12px;' id='is_certi'>
                <input type='checkbox' style='width: 12px; position: absolute; z-index: -1;' ${aData[5] ? 'checked' : '' } />
              </span>
              <span class='fa fa-pencil hover' style='margin-left: 7px; margin-right: 7px;' id='edit_certi'></span>
              <span class='fa fa-eye hover' style='margin-left: 7px; margin-right: 7px;' id='View'></span>
              <a href='/certificate?id=${aData[0]}' target='_blank' style='color: #e74e3e;'><i class="fa fa-file-text-o"></i></a>
            `)
          }
        }

        // create_tbl(url, init element id, table configuration, options)
        await this.create_tbl(this.url, 'marks_list', tbl_conf)
      }

      // Function define to handle row click other then action
      row_click = async (btn_id, row) => {
        if (btn_id == 'gen_certi') {
          Swal.fire({
            icon: 'warning',
            title: 'Are you sure ?',
            text: `to generate the certificate for student ${row[1]} !!`,
            showCancelButton: true,
            allowOutsideClick: false,
            allowEscapeKey: false
          }).then(result => {
            result.isConfirmed ? this.get_post(`${this.url}?id=${row[0]}`, false) : ''
          })
        } else if (btn_id == 'View') {
          const data = await this.get_post(`${this.url}?id=${row[0]}`)
          await this.view_data_modal(`View ${this.id} detail`, data)
        } else if (btn_id == 'edit_certi') {
          this.value = await this.get_post(`${this.url}?id=${row[0]}`)
          this.value['registration_number'] = '754/2016-17,V-51176'

          this.exam_form = { ...this.exam_form, ...this.extend_form(this.value['course'].toLowerCase()) }

          await this.add_edit_modal(`Update ${this.id} detail`)
        } else if (btn_id == 'is_certi') {
          this.get_post(`api/enable-disable-certi-api?id=${row[0]}&is_certi=${row[5]}`, false)
          // await this.exam_data()
        }
      }

      // Function defin to get all student
      get_exam_form = async () => {
        let data = await this.get_post('api/non-examinee-api')
        let std_list = {}

        for (let i of data) {
          std_list[
            i['name']
          ] = `${i['id']}*${i['name']}*${i['father']}*${i['course']}*${i['admission_session']}*754/2016-17,V-51176*${i['enroll_number']}`
        }

        return await this.init_exam_form(std_list)
      }

      // Function define to createthe form and then add form in html
      init_exam_form = async all_student => {
        if (this.value) {
          const std = {}
          std[
            this.value['name']
          ] = `${this.value['id']}*${this.value['name']}*${this.value['father']}*${this.value['course']}*${this.value['admission_session']}*754/2016-17,V-51176*${this.value['enroll_number']}`
          this.value['name'] = std[this.value['name']]

          this.exam_form['select#name'].push(std)
        } else {
          this.exam_form['select#name'].push(all_student)
        }

        return await this.create_form(this.exam_form)
      }

      // Function defin to call modal
      add_edit_modal = async header => {
        let std_form = await this.get_exam_form()
        await this.init_modal(header, std_form)

        // Onchange name field call the function
        $('#name_id').on('change', async e => {
          const val = e.target.value.split('*')
          const values = {
            father: val[2],
            course: val[3],
            admission_session: val[4],
            registration_number: val[5],
            enroll_number: val[6]
          }

          for (const i in this.exam_form) {
            const id = i.split('#')[1]
            if (id != 'name') {
              $(`#${id}_id`).val(values[id])
            }
          }

          const extended_fields = await this.field_generator(this.extend_form(val[3].toLowerCase()))

          $('#extra_fields').html(extended_fields)
        })
      }

      // Function define to extend the form field
      extend_form = course => {
        let extend_form = {}

        if (course == 'adca') {
          extend_form = {
            'text#theory_s1': ['Theory (Fundamental, Internet) / 100*'],
            'text#os': ['Operating System(S1) / 30*'],
            'text#pretical_s1': ['Practical (Ms Office, Windows) / 70*'],
            'text#theory_s2': ['Theory(Accounting, C language)(S2) / 100'],
            'text#pretical_s2': ['Practical(Photoshop, Coral Draw, C Lab, HTML)(S2) / 70'],
            'text#oral_s2': ['Oral/Project(S2) / 30'],
            row: 6
          }
        } else if (course == 'dfa') {
          extend_form = {
            'text#theory_s1': ['Theory (Fundamental, Accounting) / 100*'],
            'text#pretical_s1': ['Practical (Ms Office, Tally) / 70*'],
            'text#oral_s1': ['Oral/Project / 30*'],
            row: 6
          }
        } else {
          extend_form = {
            'text#theory_s1': ['Theory (Fundamental, Internet) / 100*'],
            'text#pretical_s1': ['Practical (Ms Office, Windows) / 70*'],
            'text#oral_s1': ['Oral/Project / 30*'],
            row: 6
          }
        }

        return extend_form
      }
    }

    let std = new exam('api/exam-api', 'exam', 'cims_modal')

    // Call function for first time
    std.exam_data()

    $('#add_marks_popup_btn').on('click', async e => {
      std.value = false
      await std.add_edit_modal('Add marks')
    })
  })
</script>

{% endblock %}