{% extends 'administrator/base.html' %} {% block title %} <title>Student list</title> {% endblock %} {% block body %}

<section id="testimonials" class="parallax paralbackground"
  style="background-image:url({{images}}/12.jpg); background-attachment:fixed;" data-img-width="600"
  data-img-height="385" data-diff="100">
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Student list</h4>
      <hr />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="col-md-12" id="std_list"></div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(document).ready(function async(e) {
    let std_data = async () => {
      let data = await get_post('api/student-api')
      let th = []

      for (let i in data[0]) {
        let heading = i.replaceAll('_', ' ')
        th.push(heading.charAt(0).toUpperCase() + heading.slice(1))
      }

      let tbl_conf = {
        columnDefs: [
          {
            targets: [0],
            visible: false,
            searchable: false
          }
        ],
        fnRowCallback: function (nRow, aData, iDisplayIndex) {
          // $('td:first', nRow).html(iDisplayIndex + 1)
          // if (aData[6]) {
          //   $('td:eq(5)', nRow).html(`<img src="${aData[6]}" style="height: 50px; cursor: pointer;" />`)
          // }
        }
      }

      // create_tbl(table heading, data, init element id, table configuration, options)
      let get_tbl = await create_tbl(th, data, 'std_list', tbl_conf, { Edit: [-3, 'api/student-api'], View: [-2, 'api/student-api'], Delete: [-1, 'api/student-api'] })
    }

    // Call function for first time
    std_data()
  })
</script>
{% endblock %}