{% extends 'administrator/base.html' %} {% block title %} <title>Student detail</title> {% endblock %} {% block body %}

<section
  id="testimonials"
  class="parallax paralbackground"
  style="background-image:url({{images}}/12.jpg); background-attachment:fixed;"
  data-img-width="600"
  data-img-height="385"
  data-diff="100"
>
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Student Detail</h4>
      <hr />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-title">
      <h4>Add Student Detail</h4>
      <hr />
    </div>

    <div class="col-md-8 col-md-push-2" id="std_form"></div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(document).ready(function async(e) {
    let course_data = async () => {
      let data = await get_post('api/course-api')
      let course_list = {}

      for (i of data) {
        course_list[i['cors_name']] = i['id']
      }

      await get_sutdent_form(course_list)
    }

    // Function define to createthe form and then add form in html
    let get_sutdent_form = async all_course => {
      let [student_form, id] = [
        {
          'text#name': ['Name*'],
          'select#gender': ['Gender*', { Male: 'Male', Female: 'Female', Other: 'Other' }],
          'text#father': ["Father's name*"],
          'text#mother': ["Mother's name*"],
          'date#dob': ['Date of birth*'],
          'text#address': ['Address*'],
          'tel#contact': ['Contact number*'],
          'select#category': ['Category*', { Gen: 'Gen', OBC: 'OBC', SC: 'SC', ST: 'ST', Other: 'Other' }],
          'select#course': ['Course*', all_course],
          'text#lpc': ['Last passed class*'],
          'text#passing_year': ['Passing year*'],
          'text#board': ['Board*'],
          'text#gread': ['Gread / Precentage / Division*'],
          'file#photo': ['Upload photo', { attr: 'accept="image/png, image/jpeg"' }],
          row: 6
        },
        'student_form'
      ]

      $('#std_form').html(await create_form(student_form, id, '{% csrf_token %}'))

      $('#' + id).on('submit', async e => {
        e.preventDefault()

        let form_data = new FormData(document.getElementById(id))

        let response = await get_post('api/student-api', form_data, true)
      })
    }

    // Call function for first time
    course_data()
  })
</script>
{% endblock %}
