{% extends 'user/base.html' %} {% block title %}

<title>Facility</title>

{% endblock %} {% block body %}

<section
  id="testimonials"
  class="parallax paralbackground"
  style="background-image: url({{images}}/1.jpg); background-attachment: fixed"
  data-img-width="600"
  data-img-height="385"
  data-diff="100"
>
  <div class="cover"></div>
  <div class="container">
    <div class="section-title hed">
      <h4>Facilities</h4>
      <hr />
    </div>
  </div>
</section>

<section id="services" class="nopadtop nopadbottom">
  <div class="container">
    <div class="section-title">
      <br /><br />
      <h5 style="font-size: 18px">Our Facility is Make us Perfect</h5>
      <hr />
    </div>
    <div class="col-md-12 facility_sec_1">
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/library.png" />
        </div>
      </div>
      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Library Facility </span> <br />
          <br />
          There are many resources in our Libraries to help you with your studies including; over 30,000 books, journals, newspapers and dvds.
          Additionally, there is a wealth of online resources. <br />
          <br />
          If you can’t find what you’re looking for, our friendly team of Library staff are always on hand to offer advice. Make use of our computers
          complete with FREE Internet access, word processing and other software packages. <br />
          <br />
          The Library boasts 3 study areas - which one you choose to study in depends on your needs. The main library provides individual and group
          study spaces, a silent study area for those students wishing to study quietly, and the group study room which holds up to eight students is
          ideal for your group work.
        </p>
      </div>
    </div>

    <hr style="width: 90%; border-color: #d4342b" />

    <div class="col-md-12 facility_sec_2">
      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Extra Lab Facility </span> <br />
          <br />
          Before being expert in the clinical practice, students need to get oriented with the dummy practices andlearn the skills to handle the live
          situations. <br />
          <br />
          The Institute encompasses with highly-equipped laboratories of the latest models to train the nursing students. The labs have modern types
          of female, male and half fibre dummy, baby dummy with facilities for IV infusion, CPR demonstration etc. <br />
          <br />
          All other equipments like suction machine, oxygen cylinder, cradles, charts etc. are available. We have separate laboratories for Pathology,
          Biochemistry, Microbiology and Electronics with modern equipments for providing excellent practical experience for the students.
        </p>
      </div>
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/lab.png" />
        </div>
      </div>
    </div>

    <hr style="width: 90%; border-color: #d4342b" />

    <div class="col-md-12 facility_sec_1">
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/class.png" />
        </div>
      </div>

      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Eco Friendly Classroom </span> <br />
          <br />
          The educational system is one of the largest organizations in any state and thus produces one of the largest carbon footprints around.
          Between the transportation system, communications, paperwork, and energy use, schools consume a considerable amount of nonrenewable
          resources on a daily basis. <br />
          <br />
          In order to be able to reduce the impact that a school has on the environment, it is necessary to make schools more eco-friendly through the
          use of green technology, alternative fuels, and waste reduction principles. By following a few simple steps, schools can not only take a
          step in the right direction regarding their carbon footprint, but they can drastically reduce cost and waste.
        </p>
      </div>
    </div>

    <hr style="width: 90%; border-color: #d4342b" />

    <div class="col-md-12 facility_sec_2">
      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Scholarship Facility </span> <br />
          <br />
          Every year, come admission season, the Unis from around the globe see a new crop of scholarship hunters (aka international students)
          venturing into their scholarship jungle. Some are well-prepped and navigate safely with a plan, while others, well, not very savvy. <br />
          <br />
          What we find very surprising is some students just blindly believe every scholarship myth that litters the internet and think twice to
          bother even applying. Quite obviously, you will never get one if you never apply! Don’t be a misguided student. <br />
          <br />
          Know your facts before jumping to conclusions. We do agree with you that finding scholarships may be quite challenging, but it will be worth
          your time and efforts. So prepare yourself and also be ready to face some stiff competition.
        </p>
      </div>
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/scholar.png" />
        </div>
      </div>
    </div>

    <hr style="width: 90%; border-color: #d4342b" />

    <div class="col-md-12 facility_sec_1">
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/wifi.gif" />
        </div>
      </div>
      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Wifi Facility </span> <br />
          <br />
          Campus is having 4 MBPS of high speed internet facility. The institute has a 24X7 Wi-Fi facility in the college campus for the student and
          faculty members to avail internet connection at any place in the college, hostel & faculty houses. <br />
          <br />
          The connectivity through a fully networked campus with state-of-the-art IT infrastructure, computing & communication resources, offers
          students the facilities of e-mail, net surfing, up/down loading of web based application, besides helping them in preparing projects &
          seminars. <br />
          <br />
        </p>
      </div>
    </div>

    <hr style="width: 90%; border-color: #d4342b" />

    <div class="col-md-12 facility_sec_2">
      <div class="col-md-8">
        <p style="text-align: justify">
          <span style="font-size: 22px; font-weight: bold; color: #e74e3e"> Brillant, Poor Student Extra Fee Discount and Free Book Provide </span>
          <br />
          <br />
          Well equipped laboratories for testing different materials as per Indian Standards codes have been developed. A number of both public and
          private organizations avail of these facilities to get their material tested at college laboratories. <br />
          <br />
          All departments maintain a close liaison with local industries, exchange views on technical development and offer consultancy. Faculty of
          all departments are engaged in research activity and keeping pace with the latest development in Engineering and Technology.
        </p>
      </div>
      <div class="col-md-4">
        <div class="facility_img">
          <img src="{{images}}/scholar_1.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //Service Section End -->

{% endblock %}
